@import url('https://fonts.googleapis.com/css2?family=Jost&family=Satisfy&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  font-family: 'Satisfy', cursive;
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  height: 4rem;
  background: rgb(247, 247, 247);
  gap: 1rem;
  background-color: rgb(3, 4, 94);
  color: rgb(173, 232, 244);
}

#divLogo {
  display: flex;
}

h1 {
  display: none;
  font-weight: bold;
  color: white;
}

#c,
#s {
  display: block;
  font-weight: bolder;
  color: rgb(173, 232, 244);
}

#subtitleLogo {
  align-self: flex-end;
  font-size: 1rem;
  font-weight: normal;
  color: rgb(202, 240, 248);
}

main {
  min-height: 50vh;
  position: relative;
  color: rgb(63, 63, 63);
}

#cards {
  min-height: 75vh;
  margin: 1rem;
  padding: 0.5rem;
  border: 5px solid rgb(3, 4, 94);
  border-radius: 1rem;
  columns: 5 200px;
  column-gap: 0.5rem;
}

.card {
  border: solid rgb(3, 4, 94) 2px;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  display: inline-block;
  position: relative;
}

.cardContent {
  text-align: center;
  width: 100%;
  word-break: break-word;
}

.divBtnDeleteCard {
  display: none;
  top: 0;
  left: 0;
  border-radius: 1rem;
  background: rgba(255, 0, 0, 0.61);
  position: absolute;
  width: 100%;
  height: 100%;
}

.btnDeleteCard {
  max-width: 6rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardPicture,
.cardTitle,
.cardDescription {
  width: 100%;
  border-radius: 1rem;
}

#extraDivFormAddCard {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  padding: 0 7.5%;
  /* animation: slideDown 0.4s; */
}

#extraDivFormContact {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#extraDivFormTeam {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* parei aqui */

#formImgs {
  position: fixed;
  z-index: 2;
  padding: 1rem;
  animation: slideUp 0.4s;
  bottom: 11vh;
  width: 85%;
  border-radius: 1rem;
  background-color: white;
}

#inputsFormAddCard {
  display: flex;
  flex-direction: column;
  border: none;
}

#inputsFormAddCard input {
  margin-bottom: 0.5rem;
  margin-top: 0.1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 0.7rem;
  padding: 0.4rem;
  background-color: #f1f1f1;
}

#inputsFormAddCard input:hover,
input:focus {
  background-color: #ddd;
  outline: none;
}

#inputsFormAddCard label {
  padding-left: 0.3rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: rgb(3, 4, 94);
}

#inputsFormAddCard label:first-of-type {
  margin-top: 0.3rem;
}

fieldset {
  padding: 0 0.8rem 0.8rem;
  border-radius: 1rem;
  border: 3px solid rgb(3, 4, 94);
  font-size: 12px;
}

#formAddCard {
  display: flex;
  flex-direction: column;
}

fieldset legend {
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(3, 4, 94);
}

#divBtnFormAddCard {
  justify-content: center;
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

#resetFormAddCard,
#submitFormAddCard {
  width: 6rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  background: rgb(3, 4, 94);
  color: white;
}

#resetFormAddCard:hover,
#submitFormAddCard:hover {
  box-shadow: 5px 5px 5px #aaaaaa;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateX(0%);
  }
}

/* imagens do botão de Contact e Team */
.btnOp {
  width: 2rem;
}

/* Button used to open the contact form - fixed at the bottom of the page */
/* fale conosco botao */
#btnOpenContact,
#btnOpenTeam {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-content: center;
  justify-content: center;
  background-color: white;
  color: rgb(3, 4, 94);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  position: inherit;
  width: 3rem;
  height: 2.5rem;
  z-index: 2;
  transition: .2s ease-in-out 0s;
}

#btnOpenContact {
  left: 1rem;
}

/* time botao */
#btnOpenTeam {
  right: 1rem;
}

#btnOpenContact:hover,
#btnOpenTeam:hover {
  transform: scale(1.1);
}

/* The popup form - hidden by default */
/* Pop-up - fale conosco formulario */
.form-popup {
  position: fixed;
  bottom: 11vh;
  left: 1rem;
  padding: 0;
  z-index: 2;
}

/*  Pop-up - time formulario */
.form-popup2 {
  position: fixed;
  bottom: 11vh;
  right: 15px;
  padding: 0;
  z-index: 2;
}

/* Add styles to the form container */
/* fale conosco */
.form-container {
  max-width: 12.5rem;
  padding: 0.8rem;
  background-color: white;
  border: solid 1px rgb(3, 4, 94);
  border-radius: 1rem;
  color: rgb(3, 4, 94);
}

.form-container h2 {
  margin-bottom: 0.8rem;
}

/* time */
.form-container2 {
  max-width: 12.5rem;
  padding: 0.8rem;
  background-color: white;
  border: solid 1px rgb(104, 103, 103);
  border-radius: 1rem;
  color: rgb(3, 4, 94);
}

.form-container2 h2 {
  margin-bottom: 0.8rem;
}

/* Full-width input fields */
.form-container input[type=text],
.form-container input[type=email],
.form-container textarea {
  width: 100%;
  padding: 10px;
  margin: 0.2rem 0 1rem 0;
  border: none;
  background: #f1f1f1;
  border-radius: 0.5rem;
}

::placeholder {
  color: rgb(63, 63, 63);
  font-family: 'Roboto', sans-serif;
}

.form-container input:focus,
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: rgb(3, 4, 94);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0.5rem;
}

.form-container .btn:hover,
.open-button:hover {
  box-shadow: 5px 5px 5px #aaaaaa;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* botão adicionar cards */
#btnAddCard {
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translate(-50%, 0);
  /* left: 48.1%;
  transform: translate(-51.9%, 0); nao apagar*/
  /* margin: 0 0.5rem; nao apagar */
  position: fixed;
  bottom: 1.5vh;
  /* bottom: 0.55rem; */
  width: 3.5rem;
  cursor: pointer;
  z-index: 2;
}

#btnCloseForm {
  width: 1.2rem;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 0.5rem;
}

.btnText {
  display: none;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background: rgb(3, 4, 94);
}

@media screen and (min-width: 280px) {
  #subtitle {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 350px) {
  #inputsFormAddCard label {
    /* justify-self: center; */
    font-size: 1rem;
  }

  #inputsFormAddCard input {
    /* justify-self: center; */
    font-size: 0.9rem;
  }

  #inputsFormAddCard {
    display: grid;
    grid-template-columns: 1fr 9fr;
    align-items: baseline;
    column-gap: 0.5rem;
  }
}

@media screen and (min-width: 385px) {
  h1 {
    display: block;
  }
}

@media screen and (min-width: 600px) {
  .btnText {
    display: flex;
    align-self: center;
    justify-self: center;
  }

  #btnOpenContact {
    width: 12rem;
    text-align: center;
  }

  #btnOpenTeam {
    width: 12rem;
  }

  #extraDivFormAddCard {
    padding: 0 12.5%;
  }

  #formImgs {
    width: 75%;
  }
}

@media screen and (min-width: 700px) {
  #extraDivFormAddCard {
    padding: 0 20%;
  }

  #formImgs {
    width: 60%;
  }
}

@media screen and (min-width: 1000px) {
  #extraDivFormAddCard {
    padding: 0 30%;
  }

  #formImgs {
    width: 40%;
  }
}